<h1>GESTIONE PORPIETARI AUTOMOBILI</h1>
<div class="inputProprietario">
  <input
    type="text"
    [(ngModel)]="nomeProprietario"
    placeholder="Inserisci nome Proprietario"
  />
  <input
    type="text"
    [(ngModel)]="cognomeProprietario"
    placeholder="Inserisci cognome Proprietario"
  />
  <input
    type="text"
    [(ngModel)]="telefonoProprietario"
    placeholder="Inserisci n. telefono del Proprietario"
  />
  <input
    style="cursor: not-allowed"
    [disabled]="true"
    type="text"
    [(ngModel)]="autoProprieatario"
    placeholder="DA FINIRE: Inserisci auto Proprietario"
  />
  <button (click)="aggiungiProprietario()">Aggiungi Proprietario</button>
</div>

<table class="tabella">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOME</th>
      <th>COGNOME</th>
      <th>TELEFONO</th>
      <th>RIMUOVI</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of datiRicevuti">
      <td>{{ auto.id }}</td>
      <td>{{ auto.nome }}</td>
      <td>{{ auto.cognome }}</td>
      <td>{{ auto.telefono }}</td>
      <button class="btnRimuovi" (click)="eliminaProprietario(auto.id)">
        X
      </button>
    </tr>
  </tbody>
</table>
