* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.inputProprietario {
    width: 1125px;
    display: table;
    margin: 45px auto;
}

.inputProprietario input, .inputProprietario button {
    width: 215px;
    height: 30px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    margin-inline: 5px;

}

.inputProprietario button {
    border: 1px solid rgb(67, 214, 67);
    color: rgb(67, 214, 67);
    background-color: white;
}

.tabella {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    width: 1125px;
    border-spacing: 0px;
    text-align: center;
    margin: 70px auto;
    vertical-align: middle;
}

td {
    height: 50px;
}

thead {
    background-color: rgb(230, 230, 230);
    height: 50px;
}

.btnRimuovi {
    border: 1px solid red;
    color: red;
    background-color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    vertical-align: middle;
}

h1{
    text-align: center;
    font-size: 30px;
}